/* common */
body {
    font-family: Helvetica, sans-serif;
}

:root {
    --boo-dark-light: #333;
    --boo-primary-darker: #2C3E50;
    --boo-primary-dark: #3a546d;
    --boo-white: #fff;
    --boo-success-light: #1aba9b;
}

/* #region header */

#site_header {
    height: 90px;
    background-color: var(--boo-primary-dark);

}

/* #endregion header */


/* #region main */

.jumbotron {
    background-color: var(--boo-success-light);
}

.jumbotron>.container {
    width: 100%;
}

.jumbotron img {
    width: 300px;
}

.star_row {
    height: 3px;
    width: 10%;
}

.star {
    font-size: 30px;
}

.about {
    background-color: var(--boo-success-light);
}

.contact_me .btn {
    background-color: var(--boo-success-light);
    border-color: var(--boo-success-light);
}

/* #endregion main */


/* #region footer */

.footer_t {
    background-color: var(--boo-primary-dark);
}

.circle {
    width: 55px;
    aspect-ratio: 1;
    border-color: var(--boo-white);
    border: 1px solid;
}

.marked {
    color: var(--boo-success-light);
}

.footer_b {
    background-color: var(--boo-primary-darker);
}

/* #endregion footer */